<h1>Car</h1>
<div class="form-container">
  <%= form_with model: @car do |form| %>
    <div class="field">
      <%= form.label :make, "Make" %>
      <%= form.text_field :make, autofocus: true, placeholder: "e.g. Ford" %>
    </div>
    <div class="field">
      <%= form.label :model, "Model" %>
      <%= form.text_field :model, placeholder: "e.g. F150" %>
    </div>
    <div class="field">
      <%= form.label :year, "Year" %>
      <%= form.text_field :year, placeholder: "e.g. 1992" %>
    </div>
    <ul>
      <%= form.fields_for :variants do |variant_form| %>
        <%= variant_form.hidden_field :car_id, value: @car.id %>
        <li>
          <div class="field">
            <%= variant_form.label :name , "Name" %>
            <%= variant_form.text_field :name %>
          </div>
        </li>
        <li>
          <div class="field">
            <%= variant_form.label :cost, "Cost" %>
            <%= variant_form.number_field :cost %>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="center-container">
      <%= form.submit "Submit Car", class: "button" %>
    </div>
  <% end %>
</div>
